.Header {
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.HeaderContent {
    height: 47px;
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}