@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Noto Serif'
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 3rem 0;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}


@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
.nav-link{
  font-size:22px;
  margin-left: 20px;
}
.navbar-brand {
  color: rgb(78, 113, 228);
  font-size: 22px;
  font-size:20px;
}

.output{
  height:200px;
  font-size:1em;
}
.output img{
  height: 200px;
  width: 350px;
}
.progress-bar{
  height:5px;
  margin-top:20px;
  background:#343A40;
}
 .up-img input{
   margin-left: 115px;
 }

 .up-img img {
   margin-left:190px;
   margin-top: 7px;
 }

 label {
   font-weight: 500;
 }

 /* image grid styles */
.images-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.images-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.images-wrap img{
  width: 300px;
  height: 300px;
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}