.img-wrap {
    
    display: block;
  }
  .img-wrap img {
    max-width: 100%;
  }
  .card-sm .img-wrap {
    height: 160px;
  }
  
  .card-lg .img-wrap {
    height: 280px;
  }
  .card-house-grid {
    margin-bottom: 20px;
    width: 400px;;
  }
  .card .img-wrap {
    overflow: hidden;
  }
  .card-house-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 280px;
  }
  .card-house-grid .info-wrap {
    overflow: hidden;
    
  }
  .card-house-grid .fix-height {
      height: 120px;
      overflow: hidden;
  }
 
  .text-house{
    margin-left: 10px;
  }
  
.card-body{
  padding: 0px 20px;
}

.info-content{
  margin-bottom: 10px;
  overflow: hidden;
}
  .text-content{
    margin-left: 15px;
    height: 336px;
    width: 1060px;
    color: #352F51;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
  }

  .icon-house{
    width:28px;
    height: 28px;
    margin-left: 10px;
  }
  .card-house{
    border-radius: 0.2rem 0.2rem 0 0;
    width: 400px;
    height: 420px;
    margin-bottom: 20px;
  }
  .card-house-img{
    border-radius: 0.2rem 0.2rem 0 0;
    display: block;
    height:280px;
    width: 399px;
    overflow: hidden;
  }
  .btn-filter{
    margin-left: 10px;
    width:45%;
  }